body{
    background-color: rgb(49, 24, 163);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    color: white;

}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.text{
    font-size: 50px;
    font-weight: bold;
}
#div-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
.btn{
    font-size: 25px;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    border:0px;
}
#start{
    background-color: green;
}
#stop{
    background-color: aqua;
}
#reset{
    background-color: red;
}